<div class="centering background-color">
<h3>Add a new expense 💸</h3>
  <div class="wrapper">
  <%= simple_form_for @health do |f| %>
    <%= f.input :category, collection: Health::CATEGORY, wrapper_html: {class: 'items-next'} %>
    <%= f.input :date_of_purchase, as: :date, html5: true, wrapper_html: {class: 'items-next'} %>
    <%= f.input :amount, placeholder: 'in euro', wrapper_html: {class: 'items-next'} %>
    <%= f.input :shop_name, wrapper_html: {class: 'items-next'} %>
    <%= f.input :description, wrapper_html: {class: 'items-next'} %>
    <%= f.button :submit, 'Add expense', class: 'button-form' %>
  <% end %>
  </div>
</div>
<p>This is the cost:  </p>
  <ul>
    <% @healths.each do |health| %>
    <li><%= health.amount %></li>
    <% end %>
  </ul>
