<div class='background-color'>
  <div class='navbar-picture-container'>
    <div>
      <h3>Start to have control over <span class='nice-font'>your household budget!</span></h3>
      <p>Plan your finances ahead.</p>
    </div>
  </div>
  <h3 class='centering header2'>Why is it important to control the household budget?</h3>
  <div class='card-container'>
    <div class='card-reason'>
      <%= image_tag('expenses3.jpg', alt:'credit_card') %>
      <div class='card-info'>
        <p><strong class="header2">It helps track expenses</strong></p>
        <p id='p1'>Creating and following a household budget helps you track <span class='nice-font'>your income</span> and expenses. This way, you can see exactly how much you're spending and where you're spending it.</p>
      </div>
    </div>
    <div class='card-reason'>
      <%= image_tag('calendar.jpg', alt:'calendar') %>
      <div class='card-info'>
        <p><strong class="header2">It helps plan the future</strong></p>
        <p id='p2'>By tracking your expenses, you can identify areas where you can cut back on spending and <span class='nice-font'>save more money</span>. This can help you plan for the future and achieve your financial goals.</p>
      </div>
    </div>
    <div class='card-reason'>
      <%= image_tag('enjoy.jpg', alt:'enjoy little things') %>
      <div class='card-info'>
        <p><strong class="header2">It helps prioritize spending</strong></p>
        <p id='p3'>A budget helps you <span class='nice-font'>prioritize your spending</span> and ensure that your money is going toward the things that are most important to you.</p>
      </div>
    </div>
    <div class='card-reason'>
      <%= image_tag('coins.jpg', alt:'coins') %>
      <div class='card-info'>
        <p ><strong class="header2">It helps reduce debt</strong></p>
        <p id='p4'>A budget can help you identify areas where you may be overspending, which can help you reduce your debt and <span class='nice-font'>increase your savings</span>.</p>
      </div>
    </div>
  </div>
  <div class='items-center'>
    <%= link_to 'Start now!', '/start', class: 'button-home' %>
  </div>
</div>
