<div>
  <div class="centering">
    <h3 class="header2" id="header-filter">Filter your expenses:  </h3>
    <div>
      <%= form_with url: filter_apartments_path, method: :get, class: 'filter-flex' do %>
        <div class="groupping">
          <%= label_tag :category, "Choose category:" %>
          <%= select_tag :query, options_for_select(Apartment::CATEGORIES) %>
        </div>
        <div class="groupping">
          <%= label_tag :date_from, "Date from:" %>
          <%= date_field_tag :date_from, "date_from", class: "datefield" %>
        </div>
        <div class="groupping">
          <%= label_tag :date_to, "Date to:" %>
          <%= date_field_tag :date_to, "date_to", class: "datefield" %>
        </div>
        <%= submit_tag "Search", name: "", class: 'btn button-form' %>
      <% end %>
    </div>
  </div>
  <%= render partial: "apartment", locals: {apartments: @apartments} %>
</div>
